doctype html
html
    head
        title= 'Directory listing for ' + path
    body
        h2= 'Directory listing for ' + path
        hr
        table
            each file in files
                if file.readable && file.stat
                    tr
                        td [
                        td
                            a(href='/download' + path + file.name)
                                if file.stat.isdir
                                    = 'Download TAR'
                                else
                                    = 'Download'
                        td ]
                        td
                            a(href='/browse' + path + file.name)
                                if file.stat.isdir
                                    = file.name + '/'
                                else
                                    = file.name
        hr
        i
            = 'targetfly server v' + version
            = ', running on node.js '
            = node_version + '/' + platform + '/' + arch
