::selection {
    color: #000;
    background: #bf3;
}

::-moz-selection {
    color: #000;
    background: #bf3;
}

body {
    background-color: #181818;
    color: #d8d8d8;
}

.header {
    font-family: monospace;
    font-weight: normal;
    font-size: 100%;
    color: #d8d8d8;
}

.browse-link {
    color: #fb3;
    text-decoration: none;
    /* padding-right: 5em; */
}

.browse-link:hover {
    color: #fd7;
}

.browse-link.dir {
    color: #f3b;
}

.browse-link.dir:hover {
    color: #f7b;
}

.listing .browse-link.dir:after {
    color: #b3f;
    content: "/";
}

.listing {
    font-family: monospace;
    border-collapse: collapse;
}

.listing th {
    font-weight: normal;
    color: #bf3;
    text-align: left;
}

.listing td {
    border-collapse: collapse;
    border-width: 0;
    padding: 0;
    margin: 0;
}

.listing .bracket {
    color: #73f;
}

.listing .bracket.left:after {
    content: "[";
}

.listing .bracket.right:after {
    content: "]";
}

.listing .bar {
    color: #73f;
}

.listing .bar:after {
    content: "|";
}

.listing .download-link {
    color: #f37;
    text-decoration: none;
}

.listing .download-link:hover {
    color: #f79;
}

.listing .download-gzip-link {
    color: #f37;
    text-decoration: none;
}

.listing .download-gzip-link:hover {
    color: #f79;
}

.listing .download-link.dir:after {
    content: "tar ";
}

.listing .download-link.normal:after {
    content: "raw ";
}

.listing .download-gzip-link.dir:after {
    content: "tar.gz";
}

.listing .download-gzip-link.normal:after {
    content: "gz";
}

.listing td.size {
    /* padding-right: 1em; */
    text-align: right;
    color: #37f;
}

.listing td.size.dir{
    /* padding-right: 1em; */
}

.listing span.pathname {
    display: none;
}

.listing td.size.clickme {
    color: #3bf;
}

.listing td.size.clickme:hover {
    color: #7bf;
    cursor: pointer;
}

.listing td.size.waiting {
    color: #777;
}

.listing td.size.done {
    color: #37f;
}

.listing td.size.error {
    color: #f73;
}

.listing td.mtime {
    text-align: right;
}

.footer {
    font-family: monospace;
    font-style: normal;
    font-size: 100%;
    color: #666;
}
